.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 800px;
  padding: 80px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 124px;
}

.nav__logo {
  display: inline-block;
  width: 105px;
  height: 39px;
  background: url("../images/logo_coffeeshop_light.svg") center/contain
    no-repeat;
  position: relative;
  left: -30px;
}

.nav__links {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link a {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.header__content {
  max-width: 729px;
}

.header__title {
  margin: 0 0 30px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.header__footer {
  display: grid;
  gap: 5px;
  max-width: 438px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__image {
  position: absolute;
  right: 80px;
  top: 183px;
  width: 646px;
  height: 568px;
  background: url("../images/inside_coffee_shop.png") center/contain no-repeat;
}
